<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw54ljJ5B0b_3CfJIrSRvmpmg8bO_8H3k</string>
	<key>GCM_SENDER_ID</key>
	<string>815310151633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashflow</string>
	<key>PROJECT_ID</key>
	<string>cashflow23-638fd</string>
	<key>STORAGE_BUCKET</key>
	<string>cashflow23-638fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815310151633:ios:1db62f345048c66f588af0</string>
</dict>
</plist>